.container {
    border: 3px solid rgb(41, 103, 184);
    width: 150px;
    /* Add stuff below this comment */

}

.square {
    border: 1px solid rgb(62, 104, 38);
    background-color: rgb(169, 230, 56);
    width: 50px;
    height: 50px;
    /* Add stuff below this comment */

}