#board {
    width: 500px;
    height: 500px;
    padding-left: 10px;
    /* border: 1px solid black; */
    border: 1px solid rgb(204, 204, 204);
    font-family: 'Courier New', Courier, monospace;
}