body {
    /* background-color: rgb(36, 36, 36); */
    background-color: rgb(4, 4, 4);
    /* background-color: black; */
    color: rgba(3, 255, 255, 0.568);
}

button {
    background-color: rgb(36, 36, 36);
    border-color: rgba(36, 36, 36, 0.726);
    color: rgb(204, 204, 204);
    font-size: 2.5ex;
}

input {
    background-color: rgb(4, 4, 4);
    color: rgba(3, 255, 255, 0.568);
    border: 2px solid rgb(20, 86, 88);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(3, 255, 255, 0.383);
}
  ::-moz-placeholder { /* Firefox 19+ */
    color: rgba(3, 255, 255, 0.383);
}
  :-ms-input-placeholder { /* IE 10+ */
    color: rgba(3, 255, 255, 0.383);
}
  :-moz-placeholder { /* Firefox 18- */
    color: rgba(3, 255, 255, 0.383);
}