body {
    background-color: white;
}

.check {
    /* background-color: orange; */
    border: 3px solid #4a4e69;
    width: 150px;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    grid-gap: 0;
}

.check-box {
    display: grid;
    border: 1px solid #4a4e69;
    background-color: #f2e9e4;
    width: auto;
}

.color {
    background-color: #9a8c98;
}