body {
    cursor: url(sword.png), auto;
    /* cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.svg); */
}

.healthbar {
    /* display: flex; */
    border: 3px solid white;
    height: 40px;
    text-align: center;
    justify-content: center;
}

.healthbar p {
    font-size: 2em;
    position: absolute;
}

.health-lost {
    float: left;
    background-color: rgb(207, 54, 54);
    height: 40px;
}

.health {
    float: left;
    /* background-color: rgb(47, 194, 47); */
    background-color: rgb(24, 145, 60);
    height: 40px;
}

.player-healthbar {
    width: 350px;
}

.boss-healthbar {
    width: 500px;
}

.boss-character {
    /* background-color: darkgoldenrod; */
}

.boss-character:hover {
    /* cursor: url('../img/sword.png'), auto; */
    /* cursor: pointer; */
}